<div class="packs-overview-content">
    <h1>All TCG Packs</h1>
    <hr>
    <div class="action-bar">
        <div class="input-wrapper">
            <input type="text" Placeholder=" ">
            <label for=""><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg> Search Packs</label>
        </div>

        <search-img-dropdown [options]="allLanguages" placeholder="Filter by language"></search-img-dropdown>
    </div>
    <div class="packs">
        @for (set of allSets; track set.id){
            <div class="pack">
                <div class="pack-img-wrapper">
                    <img [src]="set.logo + '.png'" [alt]="set.name">
                </div>
            </div>
        }
    </div>
</div>