@if(isOpen) {
<div class="sidebar-overlay" (click)="toggleSidebar()"></div>
}

<nav class="sidebar" [class.open]="isOpen">
    <div class="sidebar-header">
        <button class="close-button" (click)="toggleSidebar()">
            <svg lucideChevronRight></svg>
        </button>
        <img src="../../assets/pokecards-logo-transparent.png" alt="PokeCards Logo" class="sidebar-logo" />
        <h1>PokeCards</h1>
    </div>

    <div class="side-bar-links">
        <ul class="nav-list top">
            <li>
                <a routerLinkActive="active" [routerLink]="['/dashboard']" (click)="closeSidebar()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <rect width="7" height="9" x="3" y="3" rx="1" />
                        <rect width="7" height="5" x="14" y="3" rx="1" />
                        <rect width="7" height="9" x="14" y="12" rx="1" />
                        <rect width="7" height="5" x="3" y="16" rx="1" />
                    </svg>
                    Login
                </a>
            </li>
            <li>
                <a routerLink="/clients" routerLinkActive="active" (click)="closeSidebar()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                        <path d="M16 3.128a4 4 0 0 1 0 7.744" />
                        <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
                        <circle cx="9" cy="7" r="4" />
                    </svg>
                    Register
                </a>
            </li>
        </ul>

        <ul class="nav-list bottom">
            <li>
                <a routerLink="/settings" routerLinkActive="active" (click)="closeSidebar()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M11 10.27 7 3.34" />
                        <path d="m11 13.73-4 6.93" />
                        <path d="M12 22v-2" />
                        <path d="M12 2v2" />
                        <path d="M14 12h8" />
                        <path d="m17 20.66-1-1.73" />
                        <path d="m17 3.34-1 1.73" />
                        <path d="M2 12h2" />
                        <path d="m20.66 17-1.73-1" />
                        <path d="m20.66 7-1.73 1" />
                        <path d="m3.34 17 1.73-1" />
                        <path d="m3.34 7 1.73 1" />
                        <circle cx="12" cy="12" r="2" />
                        <circle cx="12" cy="12" r="8" />
                    </svg>
                    Settings
                </a>
            </li>
            <li>
                <a (click)="logout()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m16 17 5-5-5-5" />
                        <path d="M21 12H9" />
                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                    </svg>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
